@font-face {
    font-family: 'Helvetica';
    src: url('font/HelveticaNeue.ttf')
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color:#4d4a4a;
}

.wrapper {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
}

.links {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
}

h2 {
    color: white;
    font-size: 4.5em;
    font-family: 'Helvetica';
}

p {
    color: red;
    font-size: 2.25em;
    font-family: 'Helvetica';
}

svg {
    width: 40px;
    height: 40px;
    fill: white;
}

a {
    border-radius: 4px;
    border: 1.5px solid white;
    background-color: Transparent;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Helvetica';
}

a > svg, a > span {
    vertical-align: middle;
}

a:hover > svg {
    fill:#4d4a4a;
}

a:hover {
    background-color: white;
    color:#4d4a4a;
}
